@font-face {
    font-family: Akkurat;
    src: url("fonts/Akkurat Regular.otf");
}

@font-face {
    font-family: Akkurat;
    src: url("fonts/Akkurat Regular.otf");
}

@font-face {
    font-family: Akkurat;
    src: url("fonts/Akkurat Regular.otf");
}

@font-face {
    font-family: Akkurat;
    src: url("fonts/Akkurat Regular.otf");
}

h1 {
    color: red;
}