<!DOCTYPE html>
<title>Black Swan</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

{% if controller.is_authenticated() %}
<h1>Hello, {{ controller.first_name }}!</h1>
<p>Here you can pick what type of data you want to view and I will get it for you.</p>
<form action="{{ url_for('get_data') }}" method="post">
    Endpoint: <br>
    <input type="text" name="endpoint">
    <input type="submit" value="Search">
</form>

{% if controller.has_data() %}
<div class="data">
    <pre>{{ controller.data }}</pre>
</div>
{% endif %}
{% else %}
<h1>Black Swan</h1>
<p>Get the code by following this <a href="{{ controller.links['request_access'] }}">link</a></p>
{% endif %}